# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
D&DCompanion/Library/Artifacts/3f/3fb98d210ae0514ef8dce72f17fdea0c
D&DCompanion/Library/Artifacts/10/10d36b1d9b22c3b79dc295b486ac7df7
D&DCompanion/Library/SourceAssetDB
D&DCompanion/Library/SourceAssetDB
D&DCompanion/Library/SceneVisibilityState.asset
D&DCompanion/Assets/External.meta
